<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swadesh list</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<h2>
<a href="/">Questionnaire</a>
<a href="search">Search</a>
<a href="stats">Statistics</a>
</h2>
<h1>Swadesh list. <br> Verbs</h1>
<h2>Translate these verbs into your language. <br> You can leave your comments below. </h2>
<pre>
<form>
    language:&#9;<input type="text" name="a"><br><br>
	eat &#9;<input type="text" name="eat"><br>
	see&#9;<input type="text" name="see"><br>
	bite&#9;<input type="text" name="bite"><br>
	die&#9;<input type="text" name="die"><br>
	drink &#9;<input type="text" name="drink"><br>
	fly &#9;<input type="text" name="fly"><br>
	sit &#9;<input type="text" name="sit"><br>
	give&#9;<input type="text" name="give"><br>
	sleep&#9;<input type="text" name="sleep"><br>
	know&#9;<input type="text" name="know"><br>
	hear&#9;<input type="text" name="hear"><br>
	kill&#9;<input type="text" name="kill"><br>
	swim&#9;<input type="text" name="swim"><br>
	walk&#9;<input type="text" name="walk"><br>
	come&#9;<input type="text" name="come"><br>
	lie&#9;<input type="text" name="lie"><br>
	say&#9;<input type="text" name="say"><br>
	stand&#9;<input type="text" name="stand"><br><br>
	comments<input type="text" name="z"><br><br>
    <input type="submit" value="send">
</form>
</pre>
</body>
</html>