<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
	<style>
		body{
		background-color: #87CEEB; 
		font-family: Candara;
		text-align:  center; 
		} 
	</style>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{res | safe}});

        var options = {
          title: '{{word}} в Твиттере',
          curveType: 'function',
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<h1>Twitter trends</h1>
<h2>Results</h2>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
<a href="/">Новый поиск</a>
</body>
</html>