<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter trends</title>
	<style>
		body{
		background-color: #87CEEB; 
		font-family: Candara;
		text-align:  center; 
		} 
	</style>
</head>
<body>
<h1>Twitter trends</h1>
<h2>Введите, пожалуйста, слово или несколько слов через пробел, и мы покажем вам упоминание этого слова (слов) в твиттере за последнюю неделю :)</h2>
<pre>
<form>
    Слово:&#9;<input type="text" name="word"><br><br>
    <input type="submit" value="send">
</form>
</pre>
</body>
</html>